p Send me a link to recover my password.
form(action="/user/forgot-password", role="form", method="post")
	label email:
	input(type="text", name="email", placeholder="nickname@domain.com")
	br
	input(type='submit', value="Send link")