p Restore your password.
form(action="/user/restore/" +user.recoverHash, role="form", method="post")
	label Your new password:
	input(type="password", name="password")
	br
	input(type='submit', value="Send link")