extends ../../layout/doc_edit

block mainform
	.pure-form-stacked: fieldset.panel
		legend User
		label Username
		input(type="text", name="username", value=data.username)
		label Email
		input(type="text", name="email", value=data.email)
		label Rol
		select(name="rol")
			option= data.rol
			option admin
			option user
		label New password
		input(type="password", name="password")
